{{ define "index.layout" }}
{{ template "navbar" . }}
{{ template "index.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "index.content" }}
</br></br></br></br>


<div style="margin-top: -10px;">
<div class="row  border-0">
  <div class="col-md-9 col-md-push-3">
    <div id="whole">
      <div class="clearfix">
        <img src="{{ .Path }}" alt="chernobyl" class="img-thumbnail" width="300px" height="1000px">
        <div style="margin-left: 250px; ">
          <p>  {{.Title }}Title </p>
          <p> {{ .Description }} Description</p>
          <p> {{ .Comment }} Comment</p>
          <input type="text" name="Comment" placeholder="Comment">
         <p>{{ .Rating }} Rate: 8.3</p>
         <input type="button" name="Rate" value="Rate">
         <input type="button" name="Rate" value="UnRate">
        </div>
      </div>

    </div>
  </div>
</div>
</div>

{{ end }}