<h1>MAstyleYA</h1>
</br></br></br></br>
<div id="ma">
<div class="row  border-0">
    <div class="col-md-9 col-md-push-3">
        <div id="whole" >
            <div class="clearfix">
              <img src="assets/images/che.jpg" alt="chernobyl"  class="img-thumbnail " >
              <div  style="margin-left: 170px; margin-top: -225px;">
                <p>1. <a href="https://www.imdb.com/title/tt7366338/?ref_=ttls_li_tt"> Chernobel </a>(2019) </p>
                <p>TV-MA | 330 min | Drama, History, Thriller</p>
                <p style="margin-top:-5px;">Rating: 9.5</p>
              <p style="margin-top:-5px;" >In April 1986, an explosion at the Chernobyl nuclear power 
                plant in the Union of Soviet Socialist Republics becomes one of the world's worst man-made catastrophes.</p>
              <p style="margin-top:-5px;">Stars: Jessie Buckley, Jared Harris, Stellan Skarsgård, Adam Nagaitis</p>
              <p style="margin-top:-5px;">Votes: 378,604</p>
            </div>
            </div>
            
            </div>
        </div>
    </div>
</div>

    